*.DotSettings
*.suo
*.user
*.dll
*.pdb
*.xml
*.log
*.ctf
*.cmd
*.txt
.idea/
.vs/*
.backup/
x64/
x86/
ipch/
Win32/
packages/
node_modules/
TestResults
bin
temp
obj
Web/obj
Web/bin
Web/data/
Web/data*/
Web/assets/*
Web/Logs/
Web/node-modules/
Web/js/build/
Web/js/public/assets
*.VC.db
*.VC.VC.opendb

